<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Strona z wykazem imprez na orientację dodanych do bazy danych.">
    <meta name="author" content="agmo">
    <title>Wykaz InO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Zwijanie i rozwijanie nawigacji</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Moje InO</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Wykaz imprez</a></li>
                <li><a href="/newevent">Nowa impreza</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="container">
    <div class="text-center">
        <h1>Wykaz imprez</h1>
        <p>Oto wykaz wszystkich imprez na orientację dodanych do bazy.</p>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <th>Lp.</th>
            <th>Nazwa
                <a href="/?page={{currentPage + '&' if currentPage else '1&'}}sortBy=oEventName&sortOrder={{oEventNameSortOrder if oEventNameSortOrder else 'asc'}}"
                   name="btnSortByName">
                        <span class="glyphicon {{oEventNameSortIcon if oEventNameSortIcon else 'glyphicon-sort'}}"
                              aria-hidden="true"></span>
                </a>
            </th>
            <th>Lokalizacja
                <a href="/?page={{currentPage + '&' if currentPage else '1&'}}sortBy=oEventLocation&sortOrder={{oEventLocationSortOrder if oEventLocationSortOrder else 'asc'}}"
                   name="btnSortByLocation">
                        <span class="glyphicon {{oEventLocationSortIcon if oEventLocationSortIcon else 'glyphicon-sort'}}"
                              aria-hidden="true"></span>
                </a>
            </th>
            <th>Data
                <a href="/?page={{currentPage + '&' if currentPage else '1&'}}sortBy=oEventDate&sortOrder={{oEventDateSortOrder if oEventDateSortOrder else 'asc'}}"
                   name="btnSortByDate">
                        <span class="glyphicon {{oEventDateSortIcon if oEventDateSortIcon else 'glyphicon-sort'}}"
                              aria-hidden="true"></span>
                </a>
            </th>
            <th>Trasa
                <a href="/?page={{currentPage + '&' if currentPage else '1&'}}sortBy=oCourse&sortOrder={{oCourseSortOrder if oCourseSortOrder else 'asc'}}"
                   name="btnSortByCourse">
                        <span class="glyphicon {{oCourseSortIcon if oCourseSortIcon else 'glyphicon-sort'}}"
                              aria-hidden="true"></span>
                </a>
            </th>
            <th>Puchar
                <a href="/?page={{currentPage + '&' if currentPage else '1&'}}sortBy=oCup&sortOrder={{oCupSortOrder if oCupSortOrder else 'asc'}}"
                   name="btnSortByCup">
                        <span class="glyphicon {{oCupSortIcon if oCupSortIcon else 'glyphicon-sort'}}"
                              aria-hidden="true"></span>
                </a>
            </th>
            <th>Miejsce
                <a href="/?page={{currentPage + '&' if currentPage else '1&'}}sortBy=oRank&sortOrder={{oRankSortOrder if oRankSortOrder else 'asc'}}"
                   name="btnSortByRank">
                        <span class="glyphicon {{oRankSortIcon if oRankSortIcon else 'glyphicon-sort'}}"
                              aria-hidden="true"></span>
                </a>
            </th>
            </thead>
            <tbody>
            {% for event in events %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{event.oEventName}}</td>
                <td>{{event.oEventLocation|default('-', true)}}</td>
                <td>{{event.oEventDate|date}}</td>
                <td>{{event.oCourse|default('-', true)}}</td>
                <td>{{event.oCup|default('-', true)}}</td>
                <td>{{event.oRank|default('-', true)}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if pageCount > 1 %}
    <div class="text-right">
        <nav>
            <ul class="pagination pagination-sm pagination-right">
                <li class="{{'enabled' if currentPage > 1 else 'disabled'}}">
                    {% if currentPage > 1 %}
                    <a href="/?page={{currentPage - 1}}{{'&sortBy=' + sortCriterion + '&sortOrder=' + sortOrder if sortCriterion}}"
                       aria-label="Poprzednie">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    {% else %}
                            <span>
                                <span aria-hidden="true">&laquo;</span>
                            </span>
                    {% endif %}
                </li>
                {% for i in range(1, pageCount + 1) -%}
                <li class="{{'active' if i == currentPage else ''}}">
                    <a href="/?page={{i}}{{'&sortBy=' + sortCriterion + '&sortOrder=' + sortOrder if sortCriterion}}">{{i}}</a>
                </li>
                {%- endfor %}
                <li class="{{'enabled' if pageCount > currentPage else 'disabled'}}">
                    {% if pageCount > currentPage %}
                    <a href="/?page={{currentPage + 1}}{{'&sortBy=' + sortCriterion + '&sortOrder=' + sortOrder if sortCriterion}}"
                       aria-label="Następne">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    {% else %}
                        <span>
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
    {% endif %}
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous">
</script>
</body>
</html>
